@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "../bower_components/blueimp-gallery/css/blueimp-gallery.min.css"

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

.container {
	.jumbotron {
	  margin: 50px auto 0 auto;
	  padding: 0;
	  
	  .blueimp-gallery > .indicator > li {
		  height: 35px;
		  width: 55px;
	  }
	}
}
