@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "../bower_components/blueimp-gallery/css/blueimp-gallery.min.css";

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

.container {
	.jumbotron {
	  margin: 50px auto 0 auto;
	  padding: 0;
	  
	  .blueimp-gallery > .indicator > li {
		  height: 35px;
		  width: 55px;
	  }
	}
}

.brand {
	float:left;
	line-height: 30px;
	font-size: 14px;
	padding: 10px;
	color: #000;
}

nav li > a {
	text-transform: capitalize;
}

.slide-section {
	background-attachment: fixed;
	width: 100%;
	height: auto;
	position: relative;
	padding: 120px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#scroller {
	background: #fff url('../images/gallery/bed-050.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	padding: 0;
}

#scroller .title {
	width: 90%;
	/* width: 1000px; */
	max-width: 1000px;
	margin: auto;
}

#scroller .on-center {
	position: absolute;
	z-index: 100;
	display: block;
	width: 100%;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: auto;
	height: 200px;
	overflow: hidden;
}

#scroller .on-center span {
	color: brown;
}

