<div id="{{type}}" class="{{type}} jumbotron">
<h2>Contact Jeremy</h2>
<p>Jeremy Dunklebarger is a furniture designer and fabricator based in New York City.</p>
<p>He received his BFA from the University of the Arts in Philadelphia.</p>
<p>For more information about his work you may contact him at <a href="javascript:location='mailto:\u006a\u0065\u0072\u0065\u006d\u0079\u0040\u006a\u0064\u0075\u006e\u006b\u006c\u0065\u0062\u0061\u0072\u0067\u0065\u0072\u002e\u0063\u006f\u006d';void 0">jeremy [@] jdunklebarger.com</a>
</p>
</div>
