<div id="{{type}}-module" class="{{type}} jumbotron">
<h2 id="{{type}}">Contact Jeremy</h2>
<div class="rule"></div>

<div class="col-md-4 image">
	<img src="{{image}}" width="250" alt=""/>
</div>

<div class="col-md-6">
{{{content}}}
</div>

</div>
