      <div id="{{id}}" class="jumbotron">
		  	<h2>{{{title}}}</h2>
		  		<div id="{{id}}-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
				    <div class="slides"></div>
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <!--a class="close">×</a-->
				    <a class="play-pause"></a>
				    <ol class="indicator"></ol>
				</div>
      </div>