<div id="{{type}}" class="{{type}} jumbotron">
	 <h2>Upcoming Shows</h2>
	 <ul class="shows">
	 {{#shows}}
		<li>
			<div>
				<h3>{{name}}</h3>
				<p class="date">{{date}}<p>
				<p class="description">{{description}}</p>
		</li>	 
	 {{/shows}} 
	 </ul>
</div>
